/* Reset default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Remove bullet points and default list styling */

.nav-menu {
    list-style: none;
}

/* Remove underlines from links */
.nav-menu a {
    text-decoration: none;
    color: white;
}

nav {
    background-color: #2450c9;
    padding: 1rem;
}

.nav-menu {
    margin-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    margin: 0.8rem;
    background-color: #4781ec;
    padding: 10px 30px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.4s ease;
}

.nav-menu a:hover {
    background-color: #2b60d3;
}
/* Logo */

.nav-container {
    display: flex;
    justify-content: space-between; /* Logo Left, menu right */
    align-items: center;
    background-color: #3c68d5;
}
.logo {
    padding-left: 1rem;
}
/* Main */
main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.head {
    padding: 3rem;
    text-align: center;
    background-color: #dc4d4d;
}
h1 {
    color: #ffeaea;
    font-size: 40px;
    padding-bottom: 1rem;
}

h2 {
    color: #ffffff;
    font-size: 35px;
    padding-bottom: 1rem;
}

p {
    font-weight: light;
}

/* Home */

.home {
    padding-bottom: 2rem;
    background-color: #ffe6e6;
}

.home h2 {
    color: #950a0a;
}

.home-top {
    margin-left: 1rem;
    padding: 1rem;
    padding-bottom: 1.5rem;
}

.home p {
    font-size: 20px;
    margin-left: 5rem;
}

/* History */

.history {
     padding-bottom: 2rem;
     background-color: #dc4d4d;
}

.history h2 {
    color: #ffeaea;
}

.history-top {
    margin-left: 1rem;
    padding: 1rem;
    padding-bottom: 1.5rem;
}

.history p {
    font-size: 20px;
    margin-left: 5rem;
}

/* Voting */

.voting {
    padding-bottom: 2rem;
    background-color: #ffe6e6;
}

.voting h2 {
    color: #950a0a;
}

.voting-top {
    margin-left: 1rem;
    padding: 1rem;
    padding-bottom: 1.5rem;
}

.voting p {
    font-size: 20px;
    margin-left: 5rem;
}

/* Voting */

.facts {
     padding-bottom: 2rem;
     background-color: #dc4d4d;
}

.facts h2 {
    color: #ffeaea;
}

.facts-top {
    margin-left: 1rem;
    padding: 1rem;
    padding-bottom: 1.5rem;
}

.facts li {
    font-size: 20px;
    margin-left: 5rem;
}

/* Matters */

.matters {
    padding-bottom: 2rem;
    background-color: #ffe6e6;
}

.matters h2 {
    color: #950a0a;
}

.matters-top {
    margin-left: 1rem;
    padding: 1rem;
    padding-bottom: 1.5rem;
}

.matters p {
    font-size: 20px;
    margin-left: 5rem;
}

/* Footer */

footer {
    padding-top: 2rem;
    background-color: #dc4d4d;
    padding-bottom: 1rem;
}

footer p {
    margin: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: white;

}