/* Reset default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Remove bullet points and default list styling */

.nav-menu {
    list-style: none;
}

/* Remove underlines from links */
.nav-menu a {
    text-decoration: none;
    color: white;
}

nav {
    background-color: #4776ec;
    padding: 1rem;
}

.nav-menu {
    margin-right: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    margin: 0.8rem;
    background-color: #4781ec;
    padding: 10px 30px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.4s ease;
}

.nav-menu a:hover {
    background-color: #3660bb;
}
/* Logo */

.nav-container {
    display: flex;
    justify-content: space-between; /* Logo Left, menu right */
    align-items: center;
    background-color: #4776ec;
}
.logo {
    margin-left: 1rem;
}
/* Main */
main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.head {
    padding: 3rem;
    text-align: center;
    background-color: #f77575;
}
h1 {
    font-size: 40px;
    padding-bottom: 1rem;
}

h2 {
    font-size: 35px;
    padding-bottom: 1rem;
}
/* Home */

.home {
    padding-bottom: 2rem;
    background-color: #ffffff;
}

.home-top {
    margin-left: 1rem;
    padding: 1rem;
    padding-bottom: 1.5rem;
}

.home p {
    font-size: 20px;
    margin-left: 5rem;
}

/* History */

.history {
     padding-bottom: 2rem;
     background-color: #f77575;
}

.history-top {
    margin-left: 1rem;
    padding: 1rem;
    padding-bottom: 1.5rem;
}

.history p {
    font-size: 20px;
    margin-left: 5rem;
}

/* Voting */

.voting {
    padding-bottom: 2rem;
    background-color: #ffffff;
}

.voting-top {
    margin-left: 1rem;
    padding: 1rem;
    padding-bottom: 1.5rem;
}

.voting p {
    font-size: 20px;
    margin-left: 5rem;
}

/* Voting */

.facts {
     padding-bottom: 2rem;
     background-color: #f77575;
}

.facts-top {
    margin-left: 1rem;
    padding: 1rem;
    padding-bottom: 1.5rem;
}

.facts li {
    font-size: 20px;
    margin-left: 5rem;
}

/* Matters */

.matters {
    padding-bottom: 2rem;
    background-color: #ffffff;
}

.matters-top {
    margin-left: 1rem;
    padding: 1rem;
    padding-bottom: 1.5rem;
}

.matters p {
    font-size: 20px;
    margin-left: 5rem;
}

/* Footer */

footer {
    padding-top: 2rem;
    background-color: #4776ec;
    padding-bottom: 1rem;
}

footer p {
    margin-left: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
}